<link rel="stylesheet" href="/src/app/components/footer/footer.component.css">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About me</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum justo ac semper cursus. Fusce quis aliquet magna.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Address: Cau Dien, Ha Noi, Viet Nam</li>
                    <li>Email: huudung2004&#64;gamil.com</li>
                    <li>Phone: +84986845301</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Tran Huu Dung. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>