<link rel="stylesheet" href="/src/app/components/comfirm-order/comfirm-order.component.css"/>
<body>
    <div class="container">
        <div class="confirmation-message">
            <i class="bi bi-check-circle-fill success-icon"></i>
            <h2>Đặt hàng thành công!</h2>
            <p>Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn đã được xác nhận và đang được xử lý.</p>
        </div>
        <div class="back-to-home">
            <a routerLink="/listProduct" class="btn btn-secondary"><i class="bi bi-house"></i> Quay lại trang chủ</a>
        </div>
    </div>
</body>

