<link rel="stylesheet" href="/src/app/components/detail-product/detail-product.component.css">
<body>
    <div class="container">
        <div class="row">
            <!-- Left side: Product Images -->
            <div class="col-lg-6">
                <div class="product-images">
                    <img src="https://i.pinimg.com/564x/b0/4f/ec/b04fec6e9040cc247aa3d0be1c324d7e.jpg" alt="Product Image" class="img-fluid rounded shadow">
                    <!-- Add more images here -->
                </div>
            </div>
            <!-- Right side: Product Information -->
            <div class="col-lg-6">
                <div class="product-info">
                    <h2 class="fw-bold">Baby cute</h2>
                    <p class="lead">very yamy</p>
                    <p class="fw-bold">Price: 100000</p>
                    <p class="fw-bold">In-Strock: 45345</p>
                </div>

                <div class="action-buttons">
                    <button class="btn btn-success rounded-pill buy">Buy</button>
                    <button  class="btn btn-primary rounded-pill add-to-cart">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</body>
